// utils
@import './utils/vars';
@import './utils/visually-hidden';

// base styles
@import './base/commons';
@import './base/reset';
@import './base/container';
@import './base/card-set';

// components
@import './components/button';
@import './components/socials';
@import './components/navigation';
@import './components/authnav';
@import './components/logo-header';
@import './components/hero';
@import './components/backdrop';
@import './components/form-modal';
@import './components/advantage';
@import './components/job';
@import './components/team';
@import './components/clients-icon';
@import './components/portfolio';
@import './components/job-list';
@import './components/footer';
// layouts